<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kona.leodemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.coroutine.CoroutineActivity"
            android:theme="@style/CustomActivityTheme" />

        <activity
            android:name=".ui.databinding.DataBindingActivity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.databinding.SimpleDataBindingActivity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.databinding.AdapterDataBindingActivity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.databinding.ObservableDataBindingActivity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.databinding.ListenerDataBindingActivity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.databinding.TwowayDataBindingActivity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.databinding.InverseDataBindingActivity"
            android:theme="@style/CustomActivityTheme" />

        <!--UI Componet-->
        <activity
            android:name=".ui.componet.UiComponetActivity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.componet.SpinnerUiComponetActivity"
            android:theme="@style/CustomActivityTheme" />

        <!--Animation-->
        <activity
            android:name=".ui.animation.AnimationMainActivity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.animation.ConstraintSetSample1Activity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.animation.ConstraintSetSample2Activity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.animation.ConstraintSetSample3Activity"
            android:theme="@style/CustomActivityTheme" />
        <activity
            android:name=".ui.animation.ConstraintSetSample4Activity"
            android:theme="@style/CustomActivityTheme" />

    </application>


</manifest>